.post-spot {
  width: 80%;
  margin: 10px auto;
  &__form {
    color: #333;
    font-size: 16px;
    margin: 20px auto;
    &__top {
      display: flex;
      &__left {
        width: 50%;
        margin: 0 0 0 15px;
        &__item:first-child {
          margin: 0 0 5px;
        }
        &__item {
          margin: 10px 0 5px;
        }
        #spot_name, #spot_address, #spot_station {
          height: 30px;
          width: 70%;
          font-size: 18px;
        }
        #spot_division_id, #spot_prefecture_id {
          height: 30px;
          width: 40%;
          font-size: 16px;
        }
      }
      &__right {
        width: 50%;
        &__item {
          font-size: 16px;
          margin: 0 0 5px;
        }
        #spot_introduction {
          height: 280px;
          width: 90%;
          font-size: 18px;
          margin: 0 auto;
          resize: none;
        }
      }
    }
    &__bottom {
      margin: 10px 0 0 15px;
      &__item {
        margin: 0 0 5px;
      }
      input {
        font-size: 14px;
        margin: 5px 0 10px;
      }
      &__preview {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        .preview-image {
          width: 20%;
          &__box {
            &__photo {
              img {
                height: 150px;
                width: 100%;
              }
            }
          }
          &__controll {
            margin: 5px 0 0;
            &__delete {
              font-size: 16px;
              color: skyblue;
              cursor: pointer;
            }
          }
        }
      }
    }
    &__btn {
      margin: 10px 0 0 15px;
      &__submit {
        height: 30px;
        width: 80px;
        color: rgb(17, 162,183);
        font-size: 18px;
        border: 1px solid rgb(17, 162,183);
        border-radius: 5px;
        display: block;
        transition: .7s;
      }
      &__submit:hover {
        color: white;
        background-color: rgb(17, 162,183);
      }
    }
  }
}