.spot-description {
  height: 50px;
  line-height: 50px;
  width: 80%;
  color: #333;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  &__left {
    width: 30%;
    text-align: left;
    &__list {
      list-style: none;
      text-decoration: none;
      display: flex;
      &__icon {
        margin: 0 10px 0 0;
        img {
        height: 50px;
        width: 50px;
        border: 1px solid #333;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        }
      }
      &__name {
        font-size: 18px;
        color: #333;
        text-decoration: none;
      }
    }
  }
  &__right {
    width: 70%;
    &__title {
      font-size: 28px;
      font-weight: bold;
      margin-left: 10%;
    }
  }
}

.image-show {
  width: 80%;
  margin: 0 auto;
  &__picture {
    width: 100%;
    display: flex;
    &__left {
      height: 450px;
      width: 50%;
      img {
        height: 450px;
        width: 100%;
        display: block;
      }
    }
    &__right {
      height: 450px;
      width: 50%;
      &__top, &__bottom {
        height: 50%;
        width: 100%;
        display: flex;
        &__block {
          img {
            height: 100%;
            width: 100%;
            display: block;
          }
          img:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.spot-location {
  width: 80%;
  margin: 10px auto;
  color: #333;
  text-align: center;
  &__detail {
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    &__box {
      
      display: flex;
      &__item {
        font-size: 14px;
        margin: 0 5px 0 0;
      }
      &__content {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}